<h1>Edit!</h1>
<form action="/figures/<%=@figure.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <p>Name: <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"></p>
  <p>Title(s):
    <% Title.all.each do |t| %>
    <input type="checkbox" id="title_<%=t.id%>" name="figure[title_ids][]" value="<%= t.id %>"><%= t.name %>
    <% end %>
  </p>
  <p>Or create you own: <input type="text" id="new_title" name="title[name]"></p>
  <p>Landmark(s):
    <% Landmark.all.each do |l| %>
    <input type="checkbox" id="landmark_<%=l.id%>" name="figure[landmark_ids][]" value="<%= l.id %>"><%= l.name %>
    <% end %>
  </p>
  <p>Or create you own: <input type="text" id="new_landmark" name="landmark[name]"></p>
  <input type="submit" value="Edit Figure">
</form>
